{% extends 'blog/base.html' %}


{% block body_block %}

<div class="jumbotron">
  <h2> please login:</h2>
  <h3>(must be superuser , please cheack with the site admin)</h3>
  {% if form.errors %}
  <p>your password and username didn't match.Try again!</p>
  {% endif %}
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class='btn btn-primary' value="login">
    <input type="hidden" name="next" value="{{next}}">

  </form>
</div>
{% endblock %}
